html {
    scroll-behavior: smooth;
}

body {
    padding-left: 17rem;
    margin: 0;
}
hr
{
    width: 100%;
    height: 1px;
    background-color: #6c757d;
    border: none;
}
h2 {
    font-size: 3rem;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

h3 {
    margin: 0rem;
    font-size: 1.5rem;
}

h4,
p {
    font-size: 1.2rem;
    color: #6c757d;
}

span,
a {
    color: #be5d38;
}

/* Navigation CSS */
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #be5d38;
    width: 17rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 2rem;
    color: #e3b6a7;
}

nav a:hover {
    color: #fff;
}

nav ul {
    padding: 1rem;
}

nav li {
    list-style-type: none;
    padding: 1rem;
    letter-spacing: 0.05rem;
}

nav img {
    border-style: solid;
    border-color: #cc7e61;
    border-width: 10px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

/* Main CSS */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 3rem;

}

.icons {
    display: flex;
}

.icons i {
    margin-right: 1.3rem;
    margin-top: 1rem;
    font-size: 3rem;
    color: #6c757d;
}

.name h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 4.5rem;
}

.address {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

#about h2 {
    display: contents;
    font-size: 1.2rem;
    color: #6c757d;
}

.section-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.section-date {
    text-align: right;
    font-size: 1.2rem !important;
    min-width: 15rem;
}

#skills ul {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

#skills ul li span {
    padding-left: 0.5rem;
    color: #6c757d;
}

#awards ul {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

#awards ul i {
    color: gold;
    padding-top: 0.7rem;
}

#awards ul li span {
    padding-left: 0.5rem;
    color: #6c757d;
}